<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phj.mapper.DistributionTypeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.phj.pojo.DistributionType">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="day" property="day"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, day
    </sql>

    <select id="baseSelect" resultMap="BaseResultMap">

        select <include refid="Base_Column_List"></include> from tb_distribution_type
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id !=null">
                    and id = #{id}
                </if>
                <if test="name !=null and name  != ''">
                    and name   like concat('%',#{name},'%')
                </if>
                <if test="day !=null">
                    and day = #{day}
                </if>
        </trim>
    </select>

    <update id="baseUpdateByObjId" >
        update tb_distribution_type
        <trim prefix="set" suffix=" where id = #{id}" suffixOverrides=",">
                    <if test="id !=null">
                        id =  #{id}
                    </if>
                    <if test="name !=null and name  != ''">
                        name  =  #{name}
                    </if>
                    <if test="day !=null">
                         day =  #{day}
                    </if>
        </trim>
    </update>

</mapper>
